
<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <meta charset="UTF-8">
    <style>
      * {
        font-family: monospace;
        color: #<%= fg %>;
        background: #<%= bg %>;
        margin-bottom: 4px;
      }
      button{
        border: 1px solid #<%= fg %>;
      }
      small{
        font-size: 65%;
      }
      /*#passwords_div{
        display: inline-block;
      }*/
      #passwords_div.hide_passwords {
        display: none;
      }
    </style>
    <script>
      var cmd_list = "<%= cmd_list %>".split(' ');
      var hist_rows = [];
      var hist_index = -1; // hist indexes are negative, 0 is empty line.
      function init(){
        var app_name = document.getElementById("app_name").value;
        var hist = document.getElementById(app_name.length? "app_hist" : "cmd_hist").value;
        hist_rows = hist.split("\n");
        console.log("hist_rows", hist_rows);
        var cmd_text = document.getElementById("cmd_text");
        cmd_text.addEventListener("keydown", keyDown);
        document.getElementById("toggle_passwords_button").addEventListener("click", togglePasswords);
      }
      function editHistRow(){
        var cmd_text = document.getElementById("cmd_text");
        var i = hist_index + hist_rows.length;
        if(i >= 0  && hist_index < 0){
          cmd_text.value = hist_rows[i]; }
      }
      function upHist(){
        console.log('upHist');
        if(hist_index + hist_rows.length > 0){
          --hist_index; }
        console.log('hist_index', hist_index);
        editHistRow();
      }
      function downHist(){
        console.log('downHist');
        if(hist_index < -1){
          ++hist_index; }
        console.log('hist_index', hist_index);
        editHistRow();
      }
      function keyDown(e){
        var code = e.keyCode;
        if(code == 38) upHist();
        if(code == 40) downHist();
      }
      var HIDE_PASSWORDS = "hide_passwords";
      function togglePasswords(event){
        var passwords_div = document.getElementById("passwords_div");
        var toggle_passwords_button = document.getElementById("toggle_passwords_button");
        if(passwords_div.classList.contains(HIDE_PASSWORDS)){
          toggle_passwords_button.innerHTML = "^";
          passwords_div.classList.remove(HIDE_PASSWORDS); }
        else{
          toggle_passwords_button.innerHTML = "v";
          passwords_div.classList.add(HIDE_PASSWORDS); }
        event.preventDefault();
        return false;
      }
      window.addEventListener("load", init);
    </script>
  </head>
  <body>
    <form method="POST">
      <textarea name="cmd_out"
                rows="<%= rows %>"
                cols="<%= cols %>"
                readonly style="overflow: hidden; white-space: pre;"><%= cmd_out %>
      </textarea>
      <!-- TODO: populate these values with template data -->
      <input type="hidden" name="base_cmd_out" id="base_cmd_out" value="<%= base_cmd_out %>" />
      <input type="hidden" name="cmd_hist" id="cmd_hist" value="<%= cmd_hist %>" />
      <input type="hidden" name="app_name" id="app_name" value="<%= app_name %>" />
      <input type="hidden" name="app_state" id="app_state" value="<%= app_state %>" />
      <input type="hidden" name="config" id="config" value="<%= config %>" />
      <br>
      <%= app_name %>
      <input type="text" name="cmd_text" id="cmd_text"
             size="<% print(cols - 9 - (app_name.length? app_name.length + 1 : 0)); %>"
             autofocus autocomplete="off" value="" placeholder="Enter Command"/>
      <button type="submit">Run</button>
      <a href=""><button type="button" id="toggle_passwords_button" title="Open Password Input">v</button></a> 
      <span id="passwords_div" class="hide_passwords">
        <br>
        <input type="password" size="<% print(cols - 9); %>" name="cmd_password_input" id="cmd_password_input"
               autofocus autocomplete="off" value="" placeholder="Password #1"/>
        <!--<a href=""><button type="button" title="Open Password Input">v</button></a>-->
        <br>
        <input type="password" size="<% print(cols - 9); %>" name="cmd_password_input2" id="cmd_password_input2"
               autofocus autocomplete="off" value="" placeholder="Password #2"/>
        <!-- <a href=""><button type="button" title="Open Password Input">v</button></a>-->
      </span>
    </form>
  </body>
</html>
