
<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <meta charset="UTF-8">
    <style>
      * {
        font-family: monospace;
        color: #<%= fg %>;
        background: #<%= bg %>;
        margin-bottom: 4px;
      }
      button{
        border: 1px solid #<%= fg %>;
      }
      small{
        font-size: 65%;
      }
    </style>
    <script>
      var cmd_list = "<%= cmd_list %>".split(' ');
      var hist_rows = [];
      var hist_index = -1; // hist indexes are negative, 0 is empty line.
      var NEW_CONTEXT = "==NEW CONTEXT==\n";
      function init(){
        var app_name = document.getElementById("app_name").value;
        var hist = document.getElementById("cmd_hist").value;
        var new_context_index = hist.lastIndexOf(NEW_CONTEXT);
        if(new_context_index >=0 ){
          hist = hist.substring(new_context_index + NEW_CONTEXT.length); }
        hist_rows = hist.split("\n");
        var cmd_text = document.getElementById("cmd_text");
        cmd_text.addEventListener("keydown", keyDown);
      }
      function editHistRow(){
        var cmd_text = document.getElementById("cmd_text");
        var i = hist_index + hist_rows.length;
        if(i >= 0  && hist_index < 0){
          cmd_text.value = hist_rows[i]; }
      }
      function upHist(){
        if(hist_index + hist_rows.length > 0){
          --hist_index; }
        editHistRow();
      }
      function downHist(){
        if(hist_index < -1){
          ++hist_index; }
        editHistRow();
      }
      function keyDown(e){
        var code = e.keyCode;
        if(code == 38) upHist();
        if(code == 40) downHist();
      }
      // var HIDE_PASSWORDS = "hide_passwords";
      var PASSWORD_ID_REGEX = /\{\{password_id\}\}/g;
      var password_inputs_html = '<br/>' + 
          '<input type="password" size="<% print(cols - 5); %>" name="cmd_password_input_{{password_id}}" id="cmd_password_input_{{password_id}}"' + 
          '       autofocus autocomplete="off" value="" placeholder="Password #{{password_id}}"/>' + 
          ' <button type="button" id="remove_password_button_{{password_id}}" title="Remove Password Input"' +
          '        onclick="removePassword(event, {{password_id}})">X</button> ';
      var passwords_count = 0;

      var PASSWORD_SPAN_PREFIX = "passwords_span_";
      var PASSWORD_REMOVE_PREFIX = "remove_password_button_";
      var PASSWORD_ID_PREFIX = "cmd_password_input_";
      var PASSWORD_NAME_PREFIX = "cmd_password_input_";

      function addPassword(event){
          event.preventDefault();
          ++passwords_count;
          var div = document.getElementById("passwords_div");
          var span = document.createElement('span');
          var id = passwords_count - 1;
          span.id = PASSWORD_SPAN_PREFIX  + id;
          span.innerHTML = password_inputs_html.replace(PASSWORD_ID_REGEX, id);
          div.appendChild(span);
          return false;
      }
      function removePassword(event, id){
          event.preventDefault();
          --passwords_count;
          var div = document.getElementById("passwords_div");
          var old_span = document.getElementById(PASSWORD_SPAN_PREFIX + id);
          if(old_span){
              old_span.parentNode.removeChild(old_span); }
          // change names
          for(var i=id; i<passwords_count; ++i){
              var old_span = document.getElementById(PASSWORD_SPAN_PREFIX + (i+1));
              var old_input = document.getElementById(PASSWORD_ID_PREFIX + (i+1));
              var old_button = document.getElementById(PASSWORD_REMOVE_PREFIX + (i+1)); 

              if(old_span) old_span.id = PASSWORD_SPAN_PREFIX + i;
              if(old_input){
                  old_input.id = PASSWORD_ID_PREFIX + i;
                  old_input.name = PASSWORD_NAME_PREFIX + i;
                  old_input.placeholder = "Password #" + i; }
              if(old_button){
                  old_button.id = PASSWORD_REMOVE_PREFIX + i;
                  old_button.setAttribute("onClick", "removePassword(event, " + i + ")"); }
          }

          return false;
      }
      window.addEventListener("load", init);
    </script>
  </head>
  <body>
    <form method="POST" name="cmd_form">
      <textarea name="cmd_out"
                rows="<%= rows %>"
                cols="<%= cols %>"
                readonly style="overflow: hidden; white-space: pre;"><%= cmd_out %>
      </textarea>
      <!-- TODO: populate these values with template data -->
      <input type="hidden" name="base_cmd_out" id="base_cmd_out" value="<%= base_cmd_out %>" />
      <input type="hidden" name="cmd_hist" id="cmd_hist" value="<%= cmd_hist %>" />
      <input type="hidden" name="app_name" id="app_name" value="<%= app_name %>" />
      <input type="hidden" name="app_state" id="app_state" value="<%= app_state %>" />
      <input type="hidden" name="config" id="config" value="<%= config %>" />
      <br>
      <%= app_name %>
      <input type="text" name="cmd_text" id="cmd_text"
             size="<% print(cols - 5 - (app_name.length? app_name.length + 8 : 0)); %>"
             autofocus autocomplete="off" value="" placeholder="Enter Command"/>
      <button type="submit">Run</button>
      <% if(app_name.length > 0) { %>
        <button type="button" onclick="cmd_text.value='exit'; document.forms['cmd_form'].submit()">Exit</button>
      <% } %>
      <span id="passwords_div" class="hide_passwords">
      </span>
    </form>
    <button type="button" id="add_password_button" title="Add Password Input" onclick="addPassword(event);">Add Password</button> 
  </body>
</html>
